<!-- <div class="row no-gutters col-xs-8 border border-success rounded article">
    <div class="no-gutters col-10 d-inline-flex fill">
        <div class = "col"><p class="border-success fill">
            {{subreddit}}
        </p>
        </div>
        <div class= "col-10"><a class="no-gutters border-success fill" href='{{link}}' target="_blank">{{title}}</a></div>
        <div><p class="no-gutters border-success fill">{{postAge}}</p></div>
    </div>
    
    <div class="no-gutters col d-inline-flex justify-content-end fill">
        
        <button type="button" class="no-gutters btn btn-success justify-content-end">Leave a Comment</button>
    </div>
</div> -->

<div class="card-body border border-success rounded">
    
    <a class="no-gutters card-title " href='{{link}}' target="_blank">{{title}}</a>
    <div class="col-8">
        <a class="card-text">Posted {{postAge}} to {{subreddit}}</a>
    </div>
    <a href="#" class="btn btn-success ">Leave a Comment</a>
</div>